<!DOCTYPE html> 
<html>
<head>
</head>
<body background="https://a.wattpad.com/cover/123611415-352-k169767.jpg">
 <table>
    <tr>
        <td valign="top"><img src="{{ url_for('static', filename='help.jpg') }}" width="200" height="200"></td>
        <td valign="middle">WHY ASK FOR HELP?</td>
    </tr>
</table>
<div class="container">
  <div class="jumbotron">
    <h1>Ask For Help</h1>      
    <p>Asking for help is very beneficial due to the following reasons.</p>
  </div>


<p><b>1. Sooner or later, you won't have a choice.</b>
Even if you've bootstrapped you way to success, even if you're a solopreneur, the day will come when you need to ask someone for help. I don't know about you, but I have an extremely hard time doing that, and when I do it comes out very awkward. Practice would make this a lot smoother.</p>

<p><b>2. Helping benefits the helper.</b>
If you've ever helped anyone with anything, you know what I'm talking about. Helping someone generates a warm glow that can make you feel really good. Helping someone with your expertise gives you a chance to show how smart you are and can even benefit your career. Helping someone with a loan or investment can pay off as well.

Not asking for help means withholding all these benefits from the people who care about you and want to help you. Why would you be so unkind?</p>

<p><b>3. The next time someone needs your help you'll be able to empathize.</b>
You may be the most generous person in the world, but giving help when you've asked for it yourself is completely different from giving it when you never have. And those who receive your help will feel much better about it if they know you're paying forward something that was done for you.</p>

<p><b>4. Not needing help is a form of conceit.</b>
This one is tough for me to admit. Most of my life I've taken pride in being self-sufficient. But the truth is, that's not a moral strength, it's just vanity. Look at me, I don't need anything from anyone, aren't I clever?

And it's dishonest because--like everyone who's ever succeeded at anything--I've gotten lots of help along the way from teachers, relatives, mentors, friends, clients, and colleagues. It's just been offered without my asking.</p>
<p><b>5. Not asking for help means not being connected.</b>
It took me a very long time to understand this, and I don't think I ever would have if it weren't for my husband who is one of the most resourceful people I know. What makes him so resourceful is that he often asks for--and offers--help. In both cases he is building connections with friends, acquaintances, and business associates. These connections will last much longer than any favor he asks for or does.

And that's the point, really. Asking for help, getting help, offering help, and giving it when it's needed are all ways that we connect and stay connected with each other as human beings. Whether we're reaching out to one other person or thousands through, say, crowdfunding, that connection is there. It's precious. And it's worth a lot more than any pride we may have in not needing it.
</p>

</body>