<!DOCTYPE html> 
<html>
<body background="https://a.wattpad.com/cover/123611415-352-k169767.jpg" style="color:white;">
<img src="{{ url_for('static', filename='logo.png') }}" width="100" height="100">
<br> <br> <br> <br> 
	<h1> Share your concerns here! </h1>
		<div i='posts'>
			<form action ="/add_post" method="post">
			<input type="text" name="concern" rows= "25" cols="20" placeholder="Write your concern here!">
			<input type="submit" namPic_of_Dishe="Submit" value="submit">
		</form>
	</div>


</body>


</html>
