<!DOCTYPE html> 
<html>
<body background="https://a.wattpad.com/cover/123611415-352-k169767.jpg" style="color:white;">
<img src="/home/meet/Desktop/personal_website/a28c6153-0601-4bc7-8872-a00dd8e579e1.png">
<br> <br> <br> <br> 
	<h1> Share your concerns here! </h1>
		<div i='posts'>
			<form action ="{{ url_for('add_post') }}" method="post">
			<input type="text" name="username" placeholder="Username">
			<input type="text" name="concern" rows= "25" cols="20" placeholder="Write your concern here!">
			<input type="submit" namPic_of_Dishe="Submit" value="submit">
		</form>
	</div>


</body>


</html>
